{
  "root": true,
  "env": {
    "es6": true,
    "jest": true,
    "jest/globals": true
  },
  "extends": ["prettier"],
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaVersion": 2024,
    "sourceType": "module"
  },
  "plugins": ["prettier", "jest", "import", "unused-imports", "eslint-comments", "consistent-default-export-name"],
  "ignorePatterns": ["**/dist/**"],
  "rules": {
    //"eslint-comments/require-description": ["error"],
    "@typescript-eslint/ban-ts-comment": ["error", { "ts-ignore": "allow-with-description" }],
    "unused-imports/no-unused-imports": "warn",
    "import/no-duplicates": "warn",
    "import/no-dynamic-require": "off",
    "import/prefer-default-export": "off",
    "import/first": "warn",
    //"import/no-cycle": "error",
    "no-unused-vars": ["warn", { "args": "none" }],
    "global-require": "off",
    "no-plusplus": "off",
    "@typescript-eslint/no-explicit-any": "error",
    "padding-line-between-statements": ["warn", { "blankLine": "always", "prev": "*", "next": "export" }],
    "consistent-default-export-name/default-export-match-filename": "error",
    "arrow-body-style": ["error", "as-needed"],
    "no-param-reassign": "warn"
  }
}
