{
  "parser": "@typescript-eslint/parser",
  "plugins": ["@typescript-eslint"],
  "parserOptions": {
    "ecmaVersion": 2024,
    "sourceType": "module"
  },
  "rules": {
    "import/no-unresolved": "off",
    "import/extensions": "off",
    "@typescript-eslint/no-explicit-any": "error"
  }
}
